<h2>User info</h2>

<%= form_with model: @user, method: :patch do |f| %>

  <div class="field">
    <label>Name</label><br>
    <%= f.text_field :name %>
  </div>

  <p>Image</p>
  <%= f.file_field :profile_image, accept: "image/*" %>

  <div class="field">
    <label>IntroductionI</label><br>
    <!--Userの自己紹介を入れる-->
    <%= f.text_area :introduction %>
  </div>

  <!-- updateボタン -->
  <%= f.submit "Update User" %>

<% end %>
