<h2>User info</h2>

<!-- ユーザーの詳細 -->
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= @currentUser.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th> <!--ユーザの自己紹介文が入るようにしろ --></th>
    </tr>
  </tbody>
</table>

<!-- ユーザ編集ボタン -->
  <%= link_to "Edit", edit_user_path(@currentUser.id) %>

<!-- 本追加 -->
<h2>New book</h2>

<!-- フォーム -->
<div class="create_book">
  <%= form_with model: @newBook, url: '/books', method: :post do |f| %>

    <!-- タイトル -->
    <div class="field">
      <label for="book_title">Title</label><br>
      <%= f.text_field :title %>
    </div>

    <!-- 感想 -->
    <div class="field">
      <label for="book_body">Body</label><br>
      <%= f.text_area :body %>
    </div>

  <%= f.submit 'Create Book' %>
  <% end %>
</div>

<!-- Usersテーブル -->
  <table>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
    <!--Userを取り出す-->
    <% @users.each do |user| %>
      <tr>
        <td>Userのimage</td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", user_path(user.id) %></td>
      </tr>
    <% end %>
  </table>