<!-- フラッシュメッセージ -->
<div class="notice">
  <%= flash[:notice] %>
</div>

<%= render partial: "templates/template", locals: { user: @user ,book: @book} %>

<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td>
        <!--User プロフィール画像-->
        <%= image_tag @book_detail.user.profile_image, size: "80x80" %>
        <%= link_to @book_detail.user.name, user_path %>
      </td>

      <!--titleを本の詳細画面にする -->
      <td><%= link_to @book_detail.title, book_path %></td>
      <td><%= @book_detail.body%></td>
      <td><%= link_to "Edit", edit_book_path(@book_detail.id) %></td>
      <!--削除-->
      <td><%= link_to "Destroy", book_path(@book_detail.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
    </tr>
  </tbody>
</table>